/* Start Global Rules */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*:focus {
    outline: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--dark-red);
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a91b11;
}
::selection {
    background-color: var(--dark-red);
    color: white;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
:root {
    --main-color: #f1f5f9;
    --light-blue-color: #b9d9ff;
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --dark-red: #5b100a;
    --grey-color: #888;
    --line-height: 1.6;
    --transition-d: 0.4s;
}
/* End Global Rules */
/* Start Side Bar */
.page {
    background-color: var(--main-color);
}
aside {
    box-shadow: 0px -10px 6px #ccc;
}
@media (width > 768px) {
    aside > h2::before,
    aside > h2::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
    }
    aside > h2::before {
        bottom: -29px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 4px solid white;
        z-index: 2;
    }
    aside > h2::after {
        bottom: -20px;
        height: 2px;
        width: 70px;
    }
}
aside ul {
    margin-top: 50px;
}
@media (width < 768px) {
    aside ul {
        margin-top: 15px;
    }
}
aside ul a {
    width: 100%;
    transition: var(--transition-d);
    margin: 5px 0;
}
@media (width < 768px) {
    aside ul li a {
        justify-content: center;
        padding: 10px;
    }
}
aside ul li a:hover,
aside ul li a.active {
    background-color: var(--main-color);
}
aside ul li i {
    margin-right: 8px;
}
/* End Side-bar */
/* Start Head */
.page .content {
    flex: 2;
} 
.page .content .header .search {
    margin: 10px;
}
.page .content .header .search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: var(--grey-color);
}
.page .content .header .search input {
    padding: 5px 0 5px 30px;
    width: 80%;
    color: black;
    border: 2px solid var(--grey-color);
    transition: width var(--transition-d);
}
@media (width < 768px) {
    .page .content .header .search input {
        font-size: 15px;
    }
}
.page .content .header .search input:focus {
    width: 100%;
}
.page .content .header .search input::placeholder {
    color: var(--grey-color);
    position: relative;
}
.page .content .header .search input:focus::placeholder {
    opacity: 0;
}
.page .content .header .search input::placeholder::before {
    content: "\f002";
    /* font-family: "Font Family 5 Free"; */
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
}
.page .content .icons {
    gap: 15px;
    margin-right: 10px;
}
.page .content .icons i {
    font-size: 25px;
}
.page .content .icons span::before {
    content: "\f111";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    color: var(--red-color);
    position: absolute;
    font-size: 10px;
    left: 85%;
}
.page .content .icons img {
    width: 35px;
    border-radius: 50%;
}
.page .content > h1 {
    margin: 20px 20px 40px 20px;
}
.page .content > h1::before,
.page .content > h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 3px;
}
.page .content > h1::before {    
    width: 90px;
    background-color: white;
}
.page .content > h1::after {    
    width: 30px;
    background-color: var(--dark-red);
}
/* Start Dashboard Page */
/* Start Welcome */
.welcome .up img {
    max-width: 100%;
    width: 200px;
}
@media (width < 768px) {
    .welcome .up img {
        display: none;
    }
}
.welcome .up .name p {
    text-align: left;
}
.welcome .down {
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    margin-top: 50px;
}
@media (width < 768px) {
    .welcome .down {
        margin: 15px 0;
        display: block;
        text-align: center;
    }
}
.welcome .down img {
    width: 60px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: -90px;
    border: 4px solid #eee;
    max-width: 100%;
}
@media (width < 768px) {
    .welcome .down img {
        left: unset;
        right: 10px;
    }
}
.welcome .down .box {
    line-height: 1.5;
}
@media (width < 768px) {
    .welcome .down .box {
        margin-bottom: 15px;
    }
}
.welcome > a {
    margin: 10px 15px 15px auto;
    width: fit-content;
    display: block;
}
/* End Welcome */
/* Start quick-draft */
.quick-draft form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.quick-draft form textarea {
    height: 200px;
}
.quick-draft form > *:not(input[type="submit"]) {
    color: var(--grey-color);
    padding: 8px;
    resize: none;
    background-color: var(--main-color);
    border: none;
    color: black;
}
.quick-draft form input[type="submit"] {
    margin: 0 0 0 auto;
}
/* End quick-draft */
/* Start targets */
.targets .box {
    flex-direction: column;
    gap: 20px;
}
.targets .box .prog i {
    font-size: 16px;
}
.targets .box .prog:first-child i {
    background-color: var(--light-blue-color);
}
.targets .box .prog:nth-of-type(2) i {
    background-color: #b2ffce;
    padding: 16px;
}
.targets .box .prog:last-child i {
    background-color: #fcdfac;
}
.targets .box .prog .row .holder div {
    width: 100%;
    height: 3px;
}
.targets .box .prog:first-of-type .holder div {
    background-color: var(--light-blue-color);
}
.targets .box .prog:nth-of-type(2) .holder div {
    background-color: #b2ffce;
}
.targets .box .prog:last-child .holder div {
    background-color: #fcdfac;
}
.targets .box .prog .row .holder span {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.targets .box .prog:first-child .row .holder span {
    width: 70%;
}
.targets .box .prog:nth-of-type(2) .row .holder span {
    width: 60%;
}
.targets .box .prog:last-child .row .holder span {
    width: 90%;
}
.targets .box .prog .row .holder span::before {
    content: attr(data-prog);
    position: absolute;
    left: calc(100% - 18px);
    top: -30px;
    width: fit-content;
    color: white;
    border-radius: 4px;
}
.targets .box .prog:first-child .row .holder span::before {
    background-color: var(--blue-alt-color);
}
.targets .box .prog:nth-of-type(2) .row .holder span::before {
    background-color: var(--green-color);
}
.targets .box .prog:last-child .row .holder span::before {
    background-color: var(--orange-color);
}
.targets .box .prog .row .holder span::after {
    content: '';
    position: absolute;
    left: calc(100% - 9px);
    top: -11px;
    border-width: 8px;
    border-style: solid;
}
.targets .box .prog:first-child .row .holder span::after {
    border-color: var(--blue-alt-color) transparent transparent transparent;
}
.targets .box .prog:nth-of-type(2) .row .holder span::after {
    border-color: var(--green-color) transparent transparent transparent;
}
.targets .box .prog:last-child .row .holder span::after {
    border-color: var(--orange-color) transparent transparent transparent;
}
/* End targets */
/* Start tickets */
.tickets .box {
    grid-template-columns: repeat(auto-fill, minmax(200px , 1fr));
}
@media (width < 1200px) {
    .tickets .box {
        grid-template-columns: repeat(auto-fill, minmax(180px , 1fr));
    }
}
.tickets .box .holder {
    padding: 13px;
    border: 1px solid #ddd;
}
.tickets .box .holder i {
    font-size: 37px;
}
/* End tickets */
/* Start news */
.news .holder .date {
    text-align: center;
}
.news img {
    display: none;
}
@media (width > 768px) {
    .news img {
        display: block;
        width: 100px;
        max-width: 100%;
        border-radius: 10px;
    }
}
/* End Latest News */
/* Start Latest Tasks */
.tasks .container {
    gap: 15px;
}
.tasks .container .holder p {
    margin-top: 5px;
}
.tasks .container .holder:nth-child(4) {
    opacity: .7;
}
.tasks .container .holder:nth-child(4) p,
.tasks .container .holder:nth-child(4) h3 {
    text-decoration: line-through;
    background-color: #eee;
    width: fit-content;
    color: var(--grey-color);
}
/* End Latest Tasks */
/* Start Top Search Items */
.items .container .holder {
    position: relative;
}
.items .container .holder:not(:first-child) {
    margin-top: 10px;
    position: relative;
}
.items .container .table > .holder:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: -10px;
    height: 1px;
    background-color: #eee;
    width: calc(100% + 20px);
}
.items .container .table {
    border: 1px solid #eee;
    padding: 10px;
}
.items .container .table::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    height: 100%;
    width: 2px;
    background-color: #eee;
}
.items .container .table .left {
    background-color: #eee;
    padding: 5px;
    border-radius: 6px;
}
.items .holder:nth-of-type(2) .left p {
    color: var(--green-color)
}
.items .holder:nth-of-type(3) .left p {
    color: rgb(138, 138, 44);
}
.items .holder:nth-of-type(4) .left p {
    color: var(--blue-color);
}
.items .holder:nth-of-type(5) .left p {
    color: var(--orange-color);
}
.items .holder:nth-of-type(6) .left p {
    color: var(--red-color);
}
.items .holder:nth-of-type(7) .left p {
    color: var(--dark-red);
}
@media (width < 768px) {
    .items .holder h3 {
        font-size: 18px;
    }
    .items .container .table::after {
        content: '';
        position: absolute;
        left: 69%;
        top: 0px;
        height: 100%;
        width: 2px;
        background-color: #eee;
    }
}
/* End Top Search Items */
/* Start Upload */
.upload .holder .left img {
    width: 52px;
}
.upload .holder > p {
    text-align: center;
}
/* End Upload */
/* Start last project prog  */
.last-prog .container {
    gap: 30px;
}
@media (width < 768px) {
    .last-prog .container {
        gap: 20px;
    }
}
.last-prog .holder .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--blue-color);
    position: relative;
    border: 2px solid white;
    outline: 3px solid var(--blue-color);
    margin-bottom: 4px;
    z-index: 3;
}
@media (width < 768px) {
    .last-prog .holder  {
        gap: 10px;
    }
}
.last-prog .holder .circle::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 50px;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    background-color: var(--blue-color);
    z-index: -2;
}
.last-prog .holder:nth-of-type(4) .circle::after,
.last-prog .holder:nth-of-type(5) .circle::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.last-prog .holder:nth-of-type(4) .circle::after {
    background-color: var(--blue-color);
}
.last-prog .holder:nth-of-type(5) .circle::after {
    background-color: white;
}
.last-prog .holder:nth-of-type(4) .circle::after {
    animation: circle-flash 1s infinite alternate;
}
.notFilled {
    background-color: white !important;
    z-index: 2;
    overflow: hidden;
}
.last-prog img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 200px;
    opacity: 0.6;
}
@media (width < 768px) {
    .last-prog img  {
        width: 150px;
    }
}
@media (width < 450px) {
    .last-prog img  {
        width: 100px;
        top: 54px;
    }
}
/* End last project prog  */
/* Start Reminders */
.reminders .container {
    margin-left: 40px;
}
.reminders .holder::before {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 2px;
    height: 100%;
}
.reminders .holder:nth-of-type(1)::before {
    background-color: var(--blue-color);
}
.reminders .holder:nth-of-type(2)::before {
    background-color: var(--green-color);
}
.reminders .holder:nth-of-type(3)::before {
    background-color: var(--orange-color);
}
.reminders .holder:nth-of-type(4)::before {
    background-color: var(--red-color);
}
.reminders .holder::after {
    content: '';
    position: absolute;
    left: -45px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.reminders .holder:nth-of-type(1)::after {
    background-color: var(--blue-color);
}
.reminders .holder:nth-of-type(2)::after {
    background-color: var(--green-color);
}
.reminders .holder:nth-of-type(3)::after {
    background-color: var(--orange-color);
}
.reminders .holder:nth-of-type(4)::after {
    background-color: var(--red-color);
}
/* End Reminders */
/* Start Latest Post */
.post .up img {
    width: 50px;
    border-radius: 50%;
    max-width: 100%;
    position: relative;
}
.post .up .img::after {
    content: '';
    position: absolute;
    background-color: var(--green-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    bottom: 0;
    right: 0;
}
.post .body {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 2px solid rgb(221, 221, 221);
    border-bottom: 2px solid rgb(221, 221, 221);
    line-height: 1.8;
}
.post .down {
    font-size: 18px;
    position: relative;
}
/* @media (width > 768px) {
    .post .down {
        margin-top: 40px;
    }
} */
.post .down .reacts i:first-child {
    background-color: #df4b5f;
    left: 0px;
    z-index: 3;
}
.post .down .reacts i:nth-child(2) {
    background-color: #1877F2;
    left: 23px;
    z-index: 2;
}
.post .down .reacts i:nth-child(3){
    background-color: #5ad092;
    left: 48px;
    z-index: 1;
}
.post .down .reacts span {
    margin-left: 85px;
}
.post .down .reacts i,
.post .down .comments i  {
    color: white;
    border-radius: 50%;
    padding: 4px;
    transition: var(--transition-d);
}
.post .down .reacts i {
    position: absolute;
}
.post .down .comments i {
    background-color: #191919;
}
.post .down i:hover {
    animation: icon-rotate 1s infinite alternate;
}
/* End Latest Post */
/* Start Social Media Stats */
.social-media .holder,
.social-media .holder i {
    transition: var(--transition-d);
}
.social-media .holder:hover {
    transform: scale(1.02);
}
.social-media .holder:hover i {
    transform: scale(1.2);
}
@media (width < 768px) {
    .social-media .holder p {
        font-size: 14px;
    }
}
/* End Social Media Stats */
/* Start Project */
.projects {
    margin: 20px 20px 20px;
}
.projects table {
    border-spacing: 0px;
    min-width: 1000px;
}
.projects table td {
    border: 1px solid #eee;
    transition: var(--transition-d);
}
.projects table tr:hover td{
    background-color: #f8f8f8;
} 
.projects table thead td {
    background-color: #eee;
    font-weight: bold;
}
.projects table thead td,
.projects table td:not(:last-child) {
    padding: 20px;
    margin: 10px;
}
.projects table thead td {
    border: none;
}
.projects table tbody td img {
    width: 30px;
    border-radius: 50%;
    max-width: 100%;
    margin-right: -18px;
}
.projects table tbody td a {
    margin-left: 20px;
    font-size: 14px;
}
/* End Project */
/* End Dashboard Page */

/* Start Settings Page */
/* Start toggle-checkbox */
.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
}
.toggle-switch {
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: var(--transition-d);
}
.toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #ccc;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-d);
}
.toggle-checkbox:checked + .toggle-switch {
    background-color: var(--dark-red);
}
.toggle-checkbox:checked + .toggle-switch::before {
    content: "\f00c";
    left: 50px;
    color: var(--dark-red);
}
/* End toggle-checkbox */
/* Start Site-control */
.site-control .container .writing textarea {
    width: 100%;
    padding: 10px;
    color: black;
    font-size: 14px;
    border: 1px solid #ddd;
    resize: none;
    outline: none;
    height: 150px;
}
/* End Site-control */
/* Start General Info */
.general-info .label input {
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.general-info .container .label:last-child input {
    opacity: .7;
    width: 100%;
}
.general-info .container .label:last-child .change p {
    cursor: pointer;
}
/* End General Info */
/* Start Security Info */
.security-info .holder {
    border-top: 2px solid #ddd;
    padding-top: 10px;
}
/* End Security Info */
/* Start Social Info */
.social-inf .holder {
    opacity: 0.7;
    transition: var(--transition-d);
    border: 2px solid #b6b6b6;
}
.social-inf .holder:hover {
    opacity: 1;
    border-color: black;
}
.social-inf .holder p {
    cursor: default;
}
.social-inf .holder p::before {
    content: '';
    position: absolute;
    left: -10px;
    top: -10px;
    width: 2px;
    height: calc(100% + 20px);
    background-color: #b6b6b6;
    transition: var(--transition-d);
}
.social-inf .holder:hover p::before {
    background-color: black;
}
/* End Social Info */
/* Start Widgets Control */
.widgets .checkboxes input,
.widgets .checkboxes label {
    cursor: pointer;
    width: fit-content;
}
.widgets .checkboxes input {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    transition: var(--transition-d);
}
.widgets .checkboxes input:checked {
    transform: rotate(360deg);
}
/* End Widgets Control */
/* Start Backup */
.backup input,
.backup label {
    cursor: pointer;
    width: fit-content;
}
.backup label {
    font-size: 18px;
}
.backup input {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.backup .choose {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid #ddd;
}
@media (width < 768px) {
    .backup .choose {
        justify-content: center;
    }
}
.backup .choose > .box:last-child {
    border-color: var(--blue-color);
}
.backup .choose > .box:last-child i,
.backup .choose > .box:last-child p {
    color: var(--blue-color);
}
.backup .choose  .box {
    border: 2px solid #ddd;
    padding: 20px 40px;
    width: calc((100% - 40px) / 3);
}
@media (width < 768px) {
    .backup .choose .box {
        padding: 10px 20px;
        margin: 10px;
        font-size: 14px;
        width: calc((100% - 20px) / 3);
    }
}
/* End Backup */
/* End Settings Page */

/* Start Profile Page */
/* Start Inforamtion */
@media (width < 768px) {
    .profile-page .information {
        display: flex;
        flex-direction: column;
    }
}
.profile-page .information .left {
    justify-content: center;
}
.profile-page .information .left img {
    width: 120px;
    max-width: 100%;
    border-radius: 50%;
}
.profile-page .information .left .prog-bar {
    position: relative;
    background-color: #ccc;
    width: 120px;
    height: 6px;
    border-radius: 10px;
    overflow: hidden;
}
.profile-page .information .left .prog-bar span {
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--blue-alt-color);
}
.profile-page .information .left > p {
    margin-top: -8px;
}
.profile-page .information .left > span {
    margin-top: -8px;
}
.profile-page .information .right .toggle-switch {
    width: 100px;
    height: 20px;
    margin-top: -10px;
}
.profile-page .information .right .toggle-switch::before {
    width: 15px;
    height: 15px;
    top: 2px;
}
.profile-page .information .right .toggle-checkbox:checked + .toggle-switch::before {
    left: 80px;
}
.profile-page .information .right {
    border-left: 1px solid #ddd;
}
@media (width < 768px) {
    .profile-page .information .right {
        border-right: 1px solid #ddd;
    }
}
.profile-page .information .right .row {
    padding: 20px 0 20px 20px;
    transition: var(--transition-d);
}
@media (width < 768px) {
    .profile-page .information .right .row .names {
        display: flex;
        flex-direction: column;
    }
}
.profile-page .information .right .row:hover {
    background-color: var(--main-color);
}
.profile-page .information .right > *:not(:last-child){
    border-bottom: 1px solid #ddd;
}
/* End Inforamtion */
/* Start Left-side in down-section */
@media (width < 768px) {
    .down-section {
        flex-direction: column;
    }
}
@media (width < 768px) {
    .down-section .left-side > h2,
    .down-section .left-side > p {
        text-align: center;
    }
}
.down-section .left-side .rows .row {
    padding-bottom: 15px;
}
@media (width < 768px) {
    .down-section .left-side .rows .row {
        justify-content: space-evenly;
    }
}
.down-section .left-side .rows .row:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
}
.down-section .left-side .rows .row .cell {
    padding: 5px 10px;
    background-color: #eaeaea;
    border-radius: 8px;
    transition: var(--transition-d);
    font-size: 14px;
}
.down-section .left-side .rows .row .cell:hover {
    transform: scale(1.15);
    background-color: var(--dark-red);
    color: white;
    font-weight: bold;
}
/* End Left-side in down-section */
/* Start right-side in down-section */
.right-side .rows {
    margin-top: 30px;
}
.right-side .rows .row:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
}
@media (width < 992px) {
    .right-side .rows .row {
        flex-direction: column;
    }
    .right-side .rows .row .type {
        flex-direction: column;
    }
    .right-side .rows .row .type .text {
        text-align: center;
        margin-bottom: 20px;
    }
}
.right-side .rows .row .type img {
    width: 60px;
    height: 60px;
    transition: var(--transition-d);
}
.right-side .rows .row:hover img {
    transform: scale(1.2);
}
.right-side .rows .row p {
    transition: var(--transition-d);
}
.right-side .rows .row:hover p {
    color: black;
    font-weight: bold;
}
/* End right-side in down-section */
/* End Profile Page */

/* Start Projects Page */
.projects-page .box .photos img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 40px -11px 20px 0;
    border: 2px solid white;
}
.projects-page .box .row {
    justify-content: flex-end;
    padding: 15px 0;
    border-top: 2px solid #dfdfdf;
    border-bottom: 2px solid #eee;
}
@media (width < 768px) {
    .projects-page .box .row {
        flex-direction: column;
    }
}
.projects-page .box .down .prog {
    width: 80%;
    height: 7px;
}
.projects-page .box .down .prog span {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}
/* End Projects Page */

/* Start Courses Page */
.courses-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    gap: 20px;
}
@media (width < 768px) {
    .courses-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
.courses-page .course {
    transition: var(--transition-d);
}
.courses-page .course:hover {
    transform: scale(1.02);
}
.courses-page .course .imgs img.cover {
    max-width: 100%;
    min-width: 100%;
}
.courses-page .course .imgs img.mentor {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 20px;
    left: 20px;
}
.courses-page .course .imgs .rating {
    position: absolute;
    top: 40px;
    right: 20px;
    color: white;
}
@media (width < 768px) {
    .courses-page .course .text {
        text-align: center;
    }
}
.courses-page .course .text p {
    line-height: 1.7;
}
.courses-page .course.black-course .down {
    background-color: #1a1a1a;
}
.courses-page .course.grey-course .down {
    background-color: #859ea2;
}
.courses-page .course.red-course .down {
    background-color: #bc3438;
}
.courses-page .course.orange-course .down {
    background-color: #ec6000;
}
.courses-page .course.blue-course .down {
    background-color: #00a3e8;
}
.courses-page .course .down .icon:nth-child(2) {
    animation: money-shaking 1s alternate infinite;
}
.courses-page .course .down .info {
    display: flex;
    justify-content: center;
}
/* End Courses Page */
/* Start friends-page */
.friends-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    gap: 20px;
}
@media (width < 768px) {
    .friends-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
.friends-page .friend .up .contact {
    position: absolute;
    top: 10px;
    left: 10px;
}
.friends-page .friend .up .contact i {
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    color: var(--grey-color);
    background-color: var(--main-color);
    font-size: 12px;
    transition: var(--transition-d);
}
.friends-page .friend .up .contact i:hover {
    background-color: var(--dark-red);
    color: white;
}
.friends-page .friend .up img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    max-width: 100%;
}
.friends-page .friend .body {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 15px 0;
}
.vip {
    color: rgba(218, 165, 32, 0.255);
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
}
/* End friends-page */
/* Start Files Page */
.files-page .files-side {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 20px;
    gap: 20px;
}
@media (width < 768px) {
    .files-page .files-side {
        grid-template-columns: minmax(255px, 1fr);
        margin: 10px;
    }
}
.files-page .files-settings {
    margin: 20px;
}
@media (width < 768px) {
    .files-page .files-settings {
        margin: 10px;
    }
}
.files-page .files-side .file .up img {
    width: 60px;
    max-width: 100%;
    transition: var(--transition-d);
}
.files-page .files-side .file {
    transition: var(--transition-d);
}
.files-page .files-side .file:hover img {
    transform: rotate(7deg);
}
.files-page .files-side .file i {
    transition: var(--transition-d);
}
.files-page .files-side .file:hover i {
    color: var(--dark-red);
}
.files-page .files-side .down {
    padding-top: 10px;
    border-top: 2px solid #eee;
}
.files-page .files-settings {
    min-width: 255px;
}
.files-page .files-settings a {
    padding: 10px 15px;
    margin: 5px auto 0;
}
.files-page .files-settings a:hover i {
    animation: anchor-up-down 1s infinite alternate;
}
/* End Files Page */
/* Start plans-page */
.plans-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    gap: 20px;
}
@media (width < 768px) {
    .plans-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
.plans-page .box .heading {
    border: 4px solid white;
}
.plans-page .box:first-child .heading {
    outline: 4px solid var(--green-color);
}
.plans-page .box:nth-child(2) .heading {
    outline: 4px solid var(--blue-color);
}
.plans-page .box:last-child .heading {
    outline: 4px solid orange;
}
.plans-page .box .price {
    font-size: 40px;
}
.plans-page .box ul li {
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}
.plans-page .box ul li > i {
    cursor: pointer;
}
/* End plans-page */
/* Start Animaiton */
@keyframes circle-flash {
    to {
        background-color: white;
    }
}
@keyframes icon-rotate {
    50% {
        transform: rotate(-20deg) scale(1.2);
    }
    100% {
        transform: rotate(20deg) scale(1.3);
    }
}
@keyframes money-shaking {
    to {
        transform: scale(1.2);
    }
}
@keyframes anchor-up-down {
    0% , 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}
/* End Animaiton */